

  <p>
  <strong>name:</strong>
  <%= @event.name %>
  </p>

  <p>
  <strong>start_at:</strong>
  <%= @event.start_at %>
  </p>

  <p>
  <strong>end_at:</strong>
  <%= @event.end_at %>
 </p>

  <p>
  <strong>published:</strong>
  <%= @event.published_on %>
 </p>



